@use '@/styles/base/functions' as *;
@use '@/styles/base/mixins' as *;
$gap: 50px;
// $duration: 10s;

.wrapper {
	position: relative;
	overflow: hidden;
	padding-top: toRem(12);
	padding-bottom: toRem(12);
	background-color: #262626;

	@include adaptiveValue('min-height', 67, 51);

	mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
	-webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
	isolation: isolate;
}

.marquee {
	font-family: 'Gardion';
	line-height: 1.35;
	@include adaptiveValue('font-size', 32, 20);

	display: flex;
	width: max-content;

	transform: translate3d(0, 0, 0);
	// perspective: 1000px;

	// animation: marquee-scroll $duration linear infinite;

	animation: marquee-scroll var(--marquee-duration) linear infinite;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@media (any-hover: hover) {
		&:hover {
			animation-play-state: paused;
		}
	}
}

.group {
	display: flex;
	align-items: center;
	gap: 50px;
	padding-right: $gap;
}
.item {
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
	&::after {
		content: '';
		left: -31px;
		position: absolute;
		width: 12px;
		height: 12px;
		background-color: #c4ff00;
		border-radius: 50%;
	}
}

@keyframes marquee-scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@media (prefers-reduced-motion: reduce) {
	.marquee {
		animation: none;
	}
}
@media (prefers-reduced-motion: reduce) {
	.group {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}
}
