@use '@/styles/base/variables' as *;
@use '@/styles/base/functions' as *;
.header {
	// display: flex;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.headerWrapper {
	display: flex;
	align-items: center;
	column-gap: 1.25rem;
	justify-content: space-between;
}
.logoWrapper {
	position: relative;
	z-index: 5;
	flex: 1 0 5%;
	display: inline-block;
	@media (max-width: $mobile) {
		img {
			max-width: toRem(50);
		}
	}
	@media (max-width: $mobileSmall) {
		img {
			max-width: toRem(40);
		}
	}
}
.navigation {
	display: flex;

	@media (min-width: $mobile) {
		align-items: center;
		column-gap: toRem(32);
	}
	@media (min-width: $tablet) {
		flex: 1 0 40.07%;
	}
	@media (max-width: $mobile) {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #080e10;
		flex-direction: column;
		justify-content: center;
		padding: toRem(80) toRem(30) toRem(30) toRem(30);
		transition: right 0.45s ease;
		z-index: 4;
		&::before {
			content: '';
			position: fixed;
			border-radius: 0px toRem(8) toRem(8) 0px;
			width: 99%;
			height: toRem(80);
			// left: -100%;
			top: 0;
			transition: left 0.45s;
			z-index: 6;
			background-color: #080e10;
		}
		&.navOpen {
			right: 0;
			align-items: center;
			justify-content: start;
			row-gap: toRem(32);
			overflow-y: auto;
		}
	}
}
.iconMenu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 10;
		background: none;
		border: none;
		cursor: pointer;

		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #ffffff; // Змініть на #fff якщо фон чорний
			border-radius: toRem(50);
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}

		// Клас активного стану (при кліку)
		.menuOpen & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
				width: 100%;
				background-color: #fff; // Колір іконки в меню
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
				background-color: #fff;
			}
		}
	}
}
