@use '@/styles/base/mixins' as *;
.benefits {
	@include adaptiveValue('padding-top', 80, 30);
	@include adaptiveValue('padding-bottom', 70, 30);
	overflow-anchor: none;
}

.container {
	transform: rotate(2deg);
	padding: 0 16px !important;
}
