@use '@/styles/base/mixins' as *;
@use '@/styles/base/functions' as *;
@use '@/styles/base/variables' as *;

.assets {
	@include adaptiveValue('padding-top', 100, 40);
	@include adaptiveValue('padding-bottom', 80, 40, 0, 1300, 480);
	overflow-anchor: none;
	&__slider {
		min-width: 0;
		// overflow: hidden;
	}
	&__container {
	}
	&__heading {
		display: flex;
		justify-content: space-between;
		margin-bottom: toRem(32);
		gap: toRem(20);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__title {
		@include adaptiveValue('font-size', 40, 32);
		font-family: 'Gardion';
		span {
			color: #c4ff00;
		}
	}
	&__description {
		flex: 0 1 32.3%;
		font-weight: 500;
		line-height: 1.35;
		@include adaptiveValue('font-size', 20, 18);
	}
}
