@use '@/styles/base/functions' as *;
@use '@/styles/base/mixins' as *;
@use '@/styles/base/variables' as *;

.trust {
	padding-top: toRem(70);
	padding-bottom: toRem(60);
	position: relative;
	overflow-anchor: none;
	@media (min-width: $mobile) {
		// Horizontal green line
		&::after {
			content: '';
			position: absolute;
			top: 57%;
			@media (max-width: $tablet) {
				top: 60%;
			}
			left: 0;
			right: 0;
			width: 100%;
			height: 189px;

			background: url('../../../assets/icons/trust/line-long.svg') no-repeat center;
			background-size: 100% 100%;

			z-index: 0;
			pointer-events: none;
		}
	}

	&--green {
		color: #c4ff00;
	}
	&--dot {
		font-family: 'Dela Gothic One', sans-serif;
		color: #c4ff00;
	}

	&__container {
	}
	&__body {
		position: relative;
	}
	&__heading {
		text-align: center;
		max-width: 520px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin: 0 auto;
		margin-bottom: toRem(40);
	}
	&__title {
		font-family: 'Gardion', sans-serif;

		@include adaptiveValue('font-size', 40, 32);
	}
	&__description {
		font-weight: 500;
		max-width: 420px;
	}
	&__items {
		position: relative;
		display: grid;
		max-width: 1080px;
		@media (min-width: $mobile) {
			margin: 0 auto;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: em(440)) {
			justify-items: center;
			max-width: 310px;
			margin: 0 auto;
		}
		column-gap: toRem(75);
		row-gap: 20px;
		@media (max-width: $tablet) {
			column-gap: 30px;
		}
		@media (max-width: em(440)) {
			// Vertical Green Line
			&::before {
				content: '';
				position: absolute;
				top: -5%;
				left: -7%;
				width: toRem(341);
				height: toRem(613);
				background: url('../../../assets/icons/trust/line-vertical.svg') 0 0 / 100% 100% no-repeat;
			}
		}
	}
}
.trust-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	border-radius: 10px;
	margin: 0 4px;
	padding: 20px;
	@media (max-width: $tablet) {
		padding: 20px 10px;
	}
	width: 100%;
	@media (max-width: em(440)) {
		max-width: 310px;
	}
	&:nth-child(1) {
		position: relative;

		@media (min-width: em(500)) {
			background: #262626;
			z-index: 2;
		}
		@media (max-width: em(500)) {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 50%;
				background: #262626;
				z-index: -3;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			&::after {
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				width: 100%;
				height: 51%;
				background: #262626;
				z-index: 1;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	&:nth-child(2) {
		position: relative;

		@media (min-width: em(501)) {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 45.2%;
				height: 100%;
				background: #262626;
				z-index: -3;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				content: '';
				width: 55.1%;
				height: 100%;
				background: #262626;
				z-index: 1;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
		@media (max-width: em(500)) {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				width: 100%;
				height: 38%;
				background: #262626;
				z-index: -3;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			&::after {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 72.2%;
				background: #262626;
				z-index: -3;
				@media (max-width: em(440)) {
					z-index: 1;
				}
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	&:nth-child(3) {
		position: relative;
		@media (min-width: em(501)) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 70.1%;
				height: 100%;
				background: #262626;
				z-index: 1;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 30.1%;
				height: 100%;
				background: #262626;
				z-index: -3;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
		@media (max-width: em(500)) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60%;
				background: #262626;
				z-index: 1;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 41%;
				background: #262626;
				z-index: -3;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			img {
				/* Анімація монетки */
				animation: coinSpin 1s ease-in-out;
				/* Перспектива для 3D эффекта */
				transform-style: preserve-3d;
			}
		}
	}

	img {
		position: relative;
		z-index: 10;
		transform-style: preserve-3d;
		width: toRem(70);
		height: toRem(70);
		@media (max-width: em(600)) {
			width: toRem(50);
			height: toRem(50);
		}
	}
	&__text {
		font-size: 24px;
		position: relative;
		line-height: 1.291;
		z-index: 10;
		text-align: center;
		font-family: 'Gardion', sans-serif;
		span {
			font-family: 'Dela Gothic One', sans-serif;
		}
	}
}
